- hosts: serveurs
  become: yes
  vars:
    app_name: nextjs-app
    deploy_user: mathis.oudin-gcp
    app_dir: /home/mathis.oudin-gcp/{{ app_name }}

  tasks:
    - name: Installer Node.js et dépendances
      apt:
        name:
          - curl
          - git
        state: present
        update_cache: yes

    - name: Installer Node.js 20
      shell: |
        curl -fsSL https://deb.nodesource.com/setup_20.x | bash -
        apt-get install -y nodejs
      args:
        creates: /usr/bin/node

    - name: Installer PM2
      npm:
        name: pm2
        global: yes
        state: present

    - name: Déployer le code
      become_user: "{{ deploy_user }}"
      shell: |
        cd ~
        rm -rf {{ app_name }}-new
        git clone https://github.com/grintzdel/test-ansible-nextjs {{ app_name }}-new
        rm -rf {{ app_name }}-old
        if [ -d "{{ app_name }}" ]; then
          mv {{ app_name }} {{ app_name }}-old
        fi
        mv {{ app_name }}-new {{ app_name }}

    - name: Installer les dépendances
      become_user: "{{ deploy_user }}"
      shell: npm install
      args:
        chdir: "{{ app_dir }}"

    - name: Build l'application
      become_user: "{{ deploy_user }}"
      shell: npm run build
      args:
        chdir: "{{ app_dir }}"

    - name: Redémarrer l'application
      become_user: "{{ deploy_user }}"
      shell: |
        pm2 delete {{ app_name }} || true
        pm2 start npm --name "{{ app_name }}" -- start
        pm2 save
      args:
        chdir: "{{ app_dir }}"

    - name: Setup PM2 startup
      shell: |
        pm2 startup systemd -u {{ deploy_user }} --hp /home/{{ deploy_user }}
      become_user: "{{ deploy_user }}"
      ignore_errors: yes
