- hosts: serveurs
  become: yes
  vars:
    deploy_user: mathis.oudin-gcp
    app_dir: /home/mathis.oudin-gcp/test-ansible-nextjs

  tasks:
    - name: Installer dépendances système
      apt:
        name: [curl, rsync]
        state: present
        update_cache: yes

    - name: Installer Node.js 20
      shell: curl -fsSL https://deb.nodesource.com/setup_20.x | bash - && apt-get install -y nodejs
      args:
        creates: /usr/bin/node

    - name: Installer Git
      apt:
        name: git
        state: present

    - name: Cloner ou mettre à jour le dépôt Git
      git:
        repo: "https://github.com/grintzdel/test-ansible-nextjs.git"
        dest: "{{ app_dir }}"
        version: main
        update: yes
        force: yes
      become_user: "{{ deploy_user }}"

    - name: Installer les dépendances
      shell: npm install
      args:
        chdir: "{{ app_dir }}"
      become_user: "{{ deploy_user }}"

    - name: Kill Node.js processes on port 3000
      shell: |
        lsof -ti:3000 | xargs kill -9 || true
      become: yes
      ignore_errors: yes

    - name: Build
      shell: npm run build
      args:
        chdir: "{{ app_dir }}"
      become_user: "{{ deploy_user }}"

    - name: Start app
      shell: nohup npm start > /dev/null 2>&1 &
      args:
        chdir: "{{ app_dir }}"
      become_user: "{{ deploy_user }}"
