- hosts: serveurs
  become: yes
  vars:
    deploy_user: mathis.oudin-gcp
    app_dir: /home/mathis.oudin-gcp/app

  tasks:
    - name: Installer dépendances système
      apt:
        name: [curl, git]
        state: present
        update_cache: yes

    - name: Installer Node.js 20
      shell: curl -fsSL https://deb.nodesource.com/setup_20.x | bash - && apt-get install -y nodejs
      args:
        creates: /usr/bin/node

    - name: Installer PM2
      npm:
        name: pm2
        global: yes

    - name: Déployer
      shell: |
        rm -rf "{{ app_dir }}"
        git clone https://github.com/grintzdel/test-ansible-nextjs "{{ app_dir }}"
        chown -R {{ deploy_user }}:{{ deploy_user }} "{{ app_dir }}"

    - name: Build
      shell: |
        rm -rf .next/lock
        npm install && npm run build
      args:
        chdir: "{{ app_dir }}"
      become_user: "{{ deploy_user }}"

    - name: Start app
      shell: pm2 delete app || true && pm2 start npm --name app -- start && pm2 save
      args:
        chdir: "{{ app_dir }}"
      become_user: "{{ deploy_user }}"
