- hosts: webserver
  become: yes
  tasks:
    - name: Installer les dépendances
      command: npm install
      args:
        chdir: /home/mathis.oudin-gcp/test-ansible-nextjs

    - name: Générer le build
      command: npm run build
      args:
        chdir: /home/mathis.oudin-gcp/test-ansible-nextjs

    - name: Lancer Next.js en mode production
      shell: nohup PORT=3001 npm start > /dev/null 2>&1 &
      args:
        chdir: /home/mathis.oudin-gcp/test-ansible-nextjs
