- hosts: webserver
  become: yes
  tasks:
    - name: Installer les dépendances
      command: npm install
      args:
        chdir: /home/mathis.oudin-gcp/test-ansible-nextjs

    - name: Générer le build
      command: npm run build
      args:
        chdir: /home/mathis.oudin-gcp/test-ansible-nextjs

    - name: Lancer Next.js en mode production
      shell: PORT=3001 npm start
      args:
        chdir: /home/mathis.oudin-gcp/test-ansible-nextjs
